@use "../../shared.scss" as shared;

.form-input {
  &__select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 2px;
    border: 0.5px solid shared.$black-color;
    margin-top: 3px;
    appearance: none;
    background-color: transparent;
    color: shared.$black-color;
    font-size: 10px;
    font-weight: shared.$semibold;
    letter-spacing: 1.5px;
    line-height: 12px;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;

    &::placeholder {
      color: shared.$gray-color;
      text-transform: uppercase;
    }

    option {
      appearance: none;
      text-align: center;
    }
  }
}
