@use "../../shared.scss" as shared;

.create-target {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.125rem;
    margin-top: 1rem;
  }

  &__icon {
    width: 1.875rem;
    height: auto;
  }

  &__title {
    margin-top: 0.3125rem;
    margin-bottom: 0;
    color: shared.$black-color;
    font-size: 0.6875rem;
    font-weight: shared.$semibold;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  &__form {
    margin-top: 1.5625rem;

    label {
      text-align: left;
    }
  }

  &__input {
    margin-bottom: 0.6875rem;
  }

  &__submit, &__delete {
    display: block;
    margin: 0 auto;
  }
}
