@use "../../shared.scss" as shared;

.landing-video {
  display: none;
  width: 50%;
  min-height: 100vh;
  flex-grow: 1;
  justify-content: center;
  background-color: shared.$blue-color;

  &__preview {
    display: block;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
    margin-bottom: -70px;
    object-fit: cover;
  }

  &__appstore {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

  &__social {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;

    &-item {
      margin: 0 10px;
    }
  }

}

@media (min-width: #{shared.$md}) {
  .landing-video {
    display: flex;
    flex-direction: column;
  }
}