@use "../../shared.scss" as shared;

.contact-modal {
  &__form {
    input, textarea{
      margin-bottom: 26px;
      font-size: 0.6rem;
    }
  
    textarea{
      min-height: 155px;
    }
  
    label{
      font-size: 0.6rem;
    }

    &-submit{
      display: block;
      margin: 5px auto;
      width: 185px;
      height: 37px;
      font-size: 0.6rem;
    }
  }

  &__success{
    margin-top: 100px;

    &-title{
      color: shared.$black-color;
      text-align: center;
      font-size: 1.12rem;
      font-weight: 600;
    }
    
    &-text{
      color: shared.$black-color;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      min-height: 155px;
    }
  }
}

