@use "../../shared.scss" as shared;

.about {
  display: flex;

  &__container {
    width: 50%;
    flex-grow: 1;
  }

  &__header-img {
    margin-top: 10px;

    img {
      display: block;
      width: 60%;
      max-width: 133px;
      margin: 0 auto;
    }

    h2 {
      margin-top: 29px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__description {
    padding: 0 25px;
    margin: 27px auto;
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
  }

  &__get-start {
    display: block;
    width: 180px;
    margin: 40px auto;
    font-size: 11px;
    letter-spacing: 1.6px;
    line-height: 13px;
    text-decoration: none;
  }

  @media (min-width: #{shared.$md}) {
    &__description {
      max-width: 700px;
      padding: 0 86px;
      margin: 27px auto;
      text-align: justify;
    }

    &__get-start {
      margin: 68px auto;
    }
  }
}
