@use "../../shared.scss" as shared;

.home {
  display: flex;

  &__container {
    width: 357px;
    height: 100%;
    flex-grow: 1;

    &.hide {
      width: 0;
      flex-grow: 0;

      &__content {
        display: none;
      }
    }
  }

  @media (min-width: #{shared.$md}) {
    &__container {
      flex-grow: 0;
    }

    .hide {
      width: 357px;

      &__content {
        display: block;
      }
    }
  }
}
