@use "shared.scss" as shared;

.edit-profile {
  margin-bottom: 75px;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.125rem;
  }

  &__avatar {
    width: 125px;
    height: auto;
    margin: 0 auto;
  }

  &__name {
    margin-top: 14px;
    color: shared.$black-color;
    font-size: 14px;
    font-weight: shared.$normal;
    letter-spacing: 2.1px;
    margin-bottom: 1.562rem;
  }

  &__input {
    margin-bottom: 0.875rem;
  }

  &__submit {
    display: block;
    margin: 1.687rem auto;
  }

  &__delete-account {
    text-align: center;
    display: block;
    margin: 1.687rem auto;
    color: shared.$dark-gray-color;
    font-size: 11px;
    font-weight: shared.$semibold;
    letter-spacing: 1.65px;
    background: none;
    border: none;
  }
}
