@use "../../shared.scss" as shared;

.navbar {
  display: flex;
  height: shared.$navbar-height;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;

  &--blue {
    background-color: shared.$blue-color;

    .navbar__item {
      color: shared.$white-color;
    }
  }

  &--white {
    background-color: shared.$white-color;

    .navbar__item {
      color: shared.$black-color;
    }
  }

  button {
    width: fit-content;
    height: fit-content;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    outline: none;
  }

  &__item {
    margin: 0;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 23.44px;
  }

  &__collapsible-menu {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    display: block;
    padding: 0 26px;
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    color: shared.$black-color;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__pin {
    display: block;
  }
}

@media (min-width: #{shared.$md}) {
  .navbar {
    .navbar-item {
      display: none;

      &:first-child {
        display: block;
      }
    }

    &__pin {
      display: none;
    }

    .navbar-collapsable-menu {
      position: absolute;
      top: 20px;
      left: 53px;
      padding: 0;
    }
  }
}
