@use "../../shared.scss" as shared;

.form-input {
  display: inline-block;
  width: 100%;
  min-width: 100px;

  &__label {
    display: block;
    width: 100%;
    color: shared.$black-color;
    font-size: 11px;
    font-weight: shared.$semibold;
    letter-spacing: 1.5px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
  }

  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 2px;
    border: 0.5px solid shared.$black-color;
    margin-top: 3px;
    font-size: 10px;
    font-weight: shared.$semibold;
    letter-spacing: 1.5px;
    line-height: 12px;
    text-align: center;

    &::placeholder {
      color: shared.$gray-color;
      text-transform: uppercase;
    }
  }
}
