@use "../../shared.scss" as shared;

.login {
  display: flex;

  &__container {
    width: 50%;
    flex-grow: 1;
  }

  &__header-img {
    margin-top: 10px;

    img {
      width: 60%;
      display: block;
      margin: 0 auto;
      max-width: 133px;
    }

    h2 {
      text-align: center;
      margin-top: 15px;
      font-weight: shared.$semibold;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 16.5px;
    }
  }

  &__header-text {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    max-width: 320px;
    margin: 0 auto;
    display: none;

    &>span {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
    }
  }

  &__form {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 180px;
  }

  &__form-input {
    margin-bottom: 1rem;
  }

  &__submit {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid shared.$black-color;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: shared.$semibold;
  }

  &__forgot-password {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 1rem;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    font-weight: shared.$semibold;
    color: shared.$black-color;
    text-decoration: none;
  }

  &__facebook-signup {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 3.5rem;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.4px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 11px;
    color: shared.$black-color;

    &::after {
      content: "";
      position: absolute;
      border: 0.5px solid shared.$black-color;
      width: 20%;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__email-signup {
    display: block;
    margin: 1rem auto 0;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.65px;
    color: shared.$black-color;
    text-align: center;
    text-decoration: none;
    font-weight: shared.$semibold;
    text-transform: uppercase;
  }

  &__header-error-message {
    text-align: center;
    color: shared.$red-color;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: -15px;
    margin-top: 20px;
  }

  &__preview {
    display: none;
    width: 50%;
    flex-grow: 1;
  }

  @media (min-width: #{shared.$md}) {
    &__header-img {
      h2 {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 3px;
      }
    }
  
    &__header-text {
      display: block;
    }
  
    &__submit {
      width: 100%;
    }
  }
}

