// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$black-color: #000000;
$gray-color: #A6A6A6;
$white-color: #FFFFFF;
$blue-color: #2FBCF7;

// font weights
$semibold: 600;

$navbar-height: 60px;
