// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$black-color: #000;
$gray-color: #A6A6A6;
$white-color: #FFF;
$blue-color: #2FBCF7;
$transparent-blue-color: rgb(42 120 152 / 50%);
$red-color: #EB2A2A;
$orange-color: #F0C738;

// font weights
$normal: 400;
$semibold: 600;
$bold: 700;
$navbar-height: 60px;
