@use "../../shared.scss" as shared;

.message {
  display: flex;
  gap: 0.4375rem;
  align-items: flex-end;
  
  &__text {
    width: fit-content;
    max-width: 10.5rem;
    padding: 0.3125rem 0.5rem;
    border-radius: 6px;
    color: shared.$black-color;
    font-size: 0.75rem;
    line-height: 0.875rem;
    margin: 0;
  }

  &__time {
    font-size: 0.5625rem;
    color: shared.$gray-color;
  }

  &--received {
    .message__text {
      background-color: rgba(shared.$light-gray-color, 0.7);
      text-align: left;
    }
  }

  &--sent {
    flex-direction: row-reverse;

    .message__text {
      background-color: rgba(shared.$orange-color, 0.7);
      text-align: right;
    }
  }

  &--received + &--received,
  &--sent + &--sent {
    margin-bottom: 5px;
  }
}
